<!DOCTYPE html>
<style>
    table {
        color: #333;
        background: white;
        border: 1px solid grey;
        font-size: 12pt;
        border-collapse: collapse;
      }
      table thead th,
      table tfoot th {
        color: #777;
        background: rgba(0,0,0,.1);
      }
      table caption {
        padding:.5em;
      }
      table th,
      table td {
        padding: .5em;
        border: 1px solid lightgrey;
      }
</style>
<html lang="en">
    <body>
        <form method="post">
            {% csrf_token %}
        <table>
            <tr>
                <td>Brand</td>
                <td>
                    <select name="brand" id="brand">
                        {% for brand in brands %}
                            <option value="http://{{ request.get_host }}/api/brand/{{ brand.name }}/" {% if car.brand_name == brand.name %} selected {% endif %}>{{ brand.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Model</td>
                <td><input type="text" id="model" name="model" value="{{ car.model }}"></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input type="number" id="year" name="year" value="{{ car.year }}"></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><input type="text" id="color" name="color" value="{{ car.color }}"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" id="price" name="price" value="{{ car.price }}" ></td>
            </tr>
        </table>
        <input type="submit" value="Update">
        </form>
    </body>
</html>